
.modal--journal {
	height: 75vh;
	width: 75vw;
	padding: 0;
}
.journal {
	display: flex;
	flex-flow: column;
	height: 100%;
}
.journal__header {
	padding: 16px 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
}
.journal__header__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}
.journal__body {
	flex-grow: 1;
	display: flex;
}
.journal__body__sidebar {
	border-right: 1px solid rgba(255,255,255,.2);
	flex: 1
}
.journal__body__sidebar__item {
	border-bottom: 1px solid rgba(255,255,255,.2);
	display: flex;
	align-items: center;
}
.journal__body__sidebar__item__portrait {
	flex: 1;
	padding: 0 0 0 8px;
}
.journal__body__sidebar__item__portrait img{
	max-width: 100%;
}
.journal__body__sidebar__item__content {
	flex: 3;
    padding: 16px 8px 16px 16px;
    text-align: left;
}
.journal__body__sidebar__item.active {
	background-color: #a12521;
}
.journal__body__sidebar__item:hover {
	background-color: rgba(207, 126, 125, 0.4);
}
.journal__body__content {
	padding: 16px;
	flex: 3;
	text-align: left;
}



@media screen and (max-width: 480px) {
	.journal__body {
		flex-flow: column;
	}
	.journal__body__sidebar {
		overflow-x: auto;
		border-bottom: 1px solid rgba(255,255,255,.2);
		flex-grow: 0;
	}

	.journal__body__sidebar__item {
		border-bottom: none;
	}
	.journal__body__sidebar__list {
		min-width: 150%;
		display: flex;
	}
	.journal__body__sidebar__item__portrait {
	    padding: 0 20px;
	    height: 80px;
	}
	.journal__body__sidebar__item__content {
	    display: none;
	}
}