.wardrobe {
	background: url('../img/scenes/dressing-room.jpg') center center no-repeat;
	background-size: cover; 
}

.wardrobe__header {

}



.wardrobe__flex-wrapper {
	display: flex;
	flex-flow: column-reverse;
}
.wardrobe__menu {
	background: rgba(0,0,0,.5);
	padding: 15px;
	flex: 1;
}
.wardrobe__menu label{
	display: block;
	color: white;
}
.select-group {
	display: flex
}
.select-group button{
	width: auto;
	min-width: 34px;
}
.wardrobe__menu select{
	flex: 1;
}

@media only screen and (min-width: 768px) {
	.wardrobe__flex-wrapper {
		justify-content: space-around;
		flex-flow: row;
	}
	.wardrobe__menu {
		align-self: flex-start;
	}
}


.wardrobe__content {
	flex: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wardrobe__content-character {
    position: relative;
    width: 100%;
    height: 80vh;
}
.wardrobe__content-character img {
    position: absolute;
    top: 0;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    transform: translateX(-50%);
}